.glass{

    background:
    linear-gradient(
        135deg,
        rgba(255,255,255,.18),
        rgba(255,255,255,.06)
    );

    border:
    1px solid rgba(255,255,255,.15);

    backdrop-filter:
    blur(30px)
    saturate(160%);

    -webkit-backdrop-filter:
    blur(30px)
    saturate(160%);

    box-shadow:

    0 20px 60px rgba(0,0,0,.35);

}


/* effetto vetro più profondo */

.glass:hover{

    border-color:
    rgba(255,255,255,.25);

}